.footer-link {
    font-size: var(--fs-5);
    padding-block: 10px;
  }
  
  .footer-link:is(:hover, :focus) { color: var(--orange-soda); }
  
  .footer-bottom {
    background: var(--raisin-black-2);
    padding-block: 25px;
  }